@using TNEClient.Dtos
@model BillingPointDto
@{
    ViewData["Title"] = "ТНЭ - Точка учета электроэнергии";
}

<div class="container-sm">
    <h3 align="center">Точка учета электроэнергии - подробности</h3>
    <br />
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Старт учета</label>
        <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" value=@Model.StartTime>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Финиш учета</label>
        <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" value=@Model.EndTime>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-8 col-form-label">Точки измерения и поставки электроэнергии</label>
        </div>
    <div>
        <table class="table table-stripped table-hover">
            <tr>
                <td>Вид</td>
                <td>Наименование</td>
                <td></td>
            </tr>

            <tr>
                <td>Точка измерения</td>
                <td>@Model.ControlPointName</td>
                <td>
                    <a asp-action="Details" asp-controller="ControlPoints" asp-route-id="@Model.ControlPointId" class="btn btn-outline-success btn-sm">Подробности</a>
                </td>
            </tr>

            <tr>
                <td>Точка поставки</td>
                <td>@Model.DeliveryPointName</td>
                <td>
                    <a asp-action="Details" asp-controller="VoltageTransformers" asp-route-id="@Model.DeliveryPointId" class="btn btn-outline-success btn-sm">Подробности</a>
                </td>
            </tr>
        </table>
    </div>
        
    <input type="button" class="btn btn-secondary" value="« Назад" onclick="history.back()">
    <a asp-action="Index" asp-controller="BillingPoints" class="btn btn-danger">К списку »</a>
    <a asp-action="Edit" asp-controller="BillingPoints" asp-route-id="@Model.Id" class="btn btn-warning">Редактировать</a>

</div>
