@using TNEClient.Dtos.SearchFilters
@model List<BillingPointDto>

@{
    ViewData["Title"] = "ТрансНефтьЭнерго - Расчетный прибор учета электроэнергии";
}

<div class="container-sm">
    <h3 align="center">Расчетные приборы учета</h3>
    <br />

    <div id="accordion">
        <div class="card">
            <div class="card-header" id="headingOne">
                <a asp-action="Create" asp-controller="BillingPoints" class="btn btn-secondary btn-sm">Добавить расчетный прибор</a>
                <button class="btn btn-warning btn-sm" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> Фильтр </button>
            </div>

            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <form asp-action="Index" method="get">
                        <div class="row">
                            <div class="col">
                                <div class="form-group row">
                                    <label class="control-label">Точка контроля</label>
                                    <select name="ControlPointId" class="form-control form-control-sm" asp-items="ViewBag.ControlPointList">
                                        <option value=null selected>Не выбрано</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col">
                                <div class="form-group row">
                                    <label class="control-label">Точка поставки</label>
                                    <select name="DeliveryPointId" class="form-control form-control-sm" asp-items="ViewBag.DeliveryPointList">
                                        <option value=null selected>Не выбрано</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="form-group row">
                                    <label class="control-label">Дата начала</label>
                                    <input type="date" name="StartTime" class="form-control form-control-sm" />
                                </div>
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col">
                                <div class="form-group row">
                                    <label class="control-label">Дата окончания</label>
                                    <input type="date" name="EndTime" class="form-control form-control-sm" />
                                </div>
                            </div>
                        </div>
                        
                            <input type="submit" value="Применить" class="btn btn-warning btn-sm" />
                        
                    </form>
                </div>
            </div>
        </div>
    </div>


 
    <table class="table table-stripped table-hover">
        
        <tr>
            <td><strong>Точка измерения</strong></td>
            <td><strong>Точка поставки</strong></td>
            <td><strong>Старт контроля</strong></td>
            <td><strong>Финиш контроля</strong></td>
            <td></td>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ControlPointName</td>
                <td>@item.DeliveryPointName</td>
                <td>@item.StartTime</td>
                <td>@item.EndTime</td>
                <td>
                    <div class="btn-group" role="group">

                        <a asp-action="Details" asp-controller="BillingPoints" asp-route-id="@item.Id" class="btn btn-outline-success btn-sm">Подробности</a>
                        <a asp-action="Edit" asp-controller="BillingPoints" asp-route-id="@item.Id" class="btn btn-outline-warning btn-sm">Редактировать</a>

                    </div>
                </td>
            </tr>
        }
    </table>
</div>

