@model ControlPointDto
@{
    ViewData["Title"] = "ТНЭ - " + @Model.Name;
}

<div class="container-sm">
    <h3 class="text-center">Объект потребления - подробности</h3>
    <br />
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Наименование</label>
        <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" value=@Model.Name>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Наименование объекта потребления</label>
        <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" value=@Model.ProviderName>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Приборы</label>
    </div>
    <div>
        <table class="table table-stripped table-hover">
            <tr>
                <td>Вид</td>
                <td>Тип</td>
                <td>Номер</td>
                <td>КТ</td>
                <td>Дата последней поверки</td>
                <td></td>
            </tr>

            <tr>
                <td>Трансформатор тока</td>
                <td>@Model.CurrentTransformerType</td>
                <td>@Model.CurrentTransformerNumber</td>
                <td>@Model.CurrentTransformerTransformationRate</td>
                <td>@Model.CurrentTransformerLastVerificationDate.Date.ToShortDateString()</td>
                <td>
                    <a asp-action="Details" asp-controller="CurrentTransformers" asp-route-id="@Model.CurrentTransformerId" class="btn btn-outline-success btn-sm">Подробности</a>
                </td>
            </tr>

            <tr>
                <td>Трансформатор напряжения</td>
                <td>@Model.VoltageTransformerType</td>
                <td>@Model.VoltageTransformerNumber</td>
                <td>@Model.VoltageTransformerTransformationRate</td>
                <td>@Model.VoltageTransformerLastVerificationDate.Date.ToShortDateString()</td>
                <td>
                    <a asp-action="Details" asp-controller="VoltageTransformers" asp-route-id="@Model.VoltageTransformerId" class="btn btn-outline-success btn-sm">Подробности</a>
                </td>
            </tr>

            <tr>
                <td>Счетчик элекрической энергии</td>
                <td>@Model.ElectricityMeterType</td>
                <td>@Model.ElectricityMeterNumber</td>
                <td></td>
                <td>@Model.ElectricityMeterLastVerificationDate.Date.ToShortDateString()</td>
                <td>
                    <a asp-action="Details" asp-controller="ElectricityMeters" asp-route-id="@Model.ElectricityMeterId" class="btn btn-outline-success btn-sm">Подробности</a>
                </td>
            </tr>
        </table>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Точки учета электроэнергии</label>
        </div>
        <div>
            @if (@ViewBag.BillingPointList.Count != 0)
            {
                <table class="table table-stripped table-hover">
                    <tr>
                        <td>Точка измерения</td>
                        <td>Точка поставки</td>
                        <td>Старт контроля</td>
                        <td>Финиш контроля</td>
                        <td></td>
                    </tr>
                    @foreach (var item in @ViewBag.BillingPointList)
                    {
                        <tr>
                            <td>@item.ControlPointName</td>
                            <td>@item.DeliveryPointName</td>
                            <td>@item.StartTime</td>
                            <td>@item.EndTime</td>
                            <td>
                                <div class="btn-group" role="group">

                                    <a asp-action="Details" asp-controller="BillingPoints" asp-route-id="@item.Id" class="btn btn-outline-success btn-sm">Подробности</a>

                                </div>
                            </td>
                        </tr>
                    }
                </table>
            }
            else
            {
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" value="Точки учета не определены">
                </div>
            }
        </div>
    </div>
    <input type="button" class="btn btn-secondary" value="« Назад" onclick="history.back()">
    <a asp-action="Index" asp-controller="ControlPoints" class="btn btn-secondary">К списку »</a>
    <a asp-action="Edit" asp-controller="ControlPoints" asp-route-id="@Model.Id" class="btn btn-warning">Редактировать</a>
</div>
